


.navigation{
    display: flex;
    width: 100%;
    background-color: rgb(249, 235, 235);
    z-index: 1000;
}

.nav-item {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    text-transform:  uppercase;
    color: rgba(6, 6, 6, 0.5);
    margin: 10px, 20px;
    justify-content: center;
}

.nav-item:hover{
    color: rgba(143, 40, 40, 0.5);
}


.main{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.144);
}